$color: white;

@mixin styleTextHeader(){
    font-weight: 400;
    font-size: 15px;
    color: $color;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    max-width: 1168px;
    margin: 0 auto;
}

header{
    div{
        display: flex;
        justify-content: space-between;
    }
    //↓ вопрос (то, что я это к контейнеру применяю)
    >div{
        height: 90px;
        align-items: center;
        >svg{
            padding-left: 16px;
        }
    }
    .burger{display: none;}
    .header__right-side{
        gap: 32px;
        padding-right: 4px;
        .right-side__list{
            display: flex;
            list-style: none;
            gap: 34px;
            padding-left: 0px;
            .list__li:hover{
                cursor: pointer;
            }
            .list__li__second{
                position: relative;
                left: 4px;
            }
            .list__li__first{
                padding-right: 56px - 32px;
                padding-top: 3px;
            }
        }
        li{
            @include styleTextHeader();
        }
        button{
            height: 44px;
            width: 157px;
            border-radius: 14px;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.4px;
            align-self: center;
            font-family: "Poppins", sans-serif;
            transition: .3s;
            &:hover{
                cursor:pointer;
                background-color: #000;
                color: $color !important;
                transition: .3s;
                border: 1px solid #ffffff;
            }
        }
        .list__li__first{
            font-size: 13px;
        }
        a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: $color;
            }
        }
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 150px;

    h1{
        @include styleTextHeader();
        font-size: 150px;
        text-transform: uppercase;
        line-height: 180px
    }
    p{
        @include styleTextHeader();
        font-size: 20px;
        text-transform: uppercase;
    }
}

@media (max-width: 1400px) {
    .container{
        max-width: 1000px;
    }
    .header__right-side{
        gap: 25px;
        .right-side__list{
            gap: 25px !important;
            .list__li__first{
                padding-right: 0 !important;
            }
        }
    }
    .error {
        padding-top: 150px;
    
        h1{
            font-size: 130px;
            line-height: 155px
        }
        p{
            font-size: 18px;
        }
    }
}
@media (max-width: 1200px) {//потом 960
    .container{
        max-width: 832px;
    }
    header{
        >div{
            height: 80px;
            >svg{
                padding-left: 0px;
                width: 107px;
                height: 25.8px;
            }
        }
        .header__right-side{
            padding-right: 0;
            .list__li__first{
                padding-right: 35px - 32px !important;
            }
            li{
                font-size: 13px;
            }
            .list__li__first{
                font-size: 11px;
            }
            button{
                height: 41.2px;
                width: 142px;
                border-radius: 12px;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 960px){//потом 768
    .container{
        max-width: 605px;
    }
    header{
        >div{
            height: 60px;
            >svg{
                width: 80px;
                height: 19.4px;
            }
        }
        .header__right-side{
            gap: 15px;
            .list__li__first{
                padding-top: 0 !important;
            }
            li{
                font-size: 10px;
            }
            .right-side__list{
                gap: 15px !important;
            }
            .list__li__first{
                font-size: 10px;
            }
            button{
                height: 28px;
                width: 100px;
                font-size: 11px;
            }
        }
    }
    .error {
        padding-top: 110px;
    
        h1{
            font-size: 90px;
            line-height: 110px
        }
        p{
            font-size: 14px;
        }
    }
}
@media (max-width: 768px){//потом 576
    .container{max-width: 468px;}
    header{
        >div{
            height: 45px;
            >svg{
                width: 75px;
                height: 18.2px;
                padding-left: 25px;
            }
        }
        .burger{
            width: 21px;
            height: 21px;
            display: block;
            padding-right: 25px;
        }
        .header__right-side{
            display: none;
        }
    }
    .error {
        padding-top: 70px;
    
        h1{
            font-size: 60px;
            line-height: 75px
        }
        p{
            font-size: 10px;
        }
    }
}
@media (max-width: 576px) {// потом 425
    .container{max-width: 351px;}
    header{
        >div{
            height: 30px;
            >svg{
                width: 50px;
                height: 12.1px;
                padding-left: 30px;
            }
        }
        .burger{
            width: 15px;
            height: 15px;
            padding-right: 30px;
        }
    }
}
@media (max-width:425px){//потом 320
    .container{max-width: 351px;}
    header{
        >div{
            height: 22px;
            >svg{
                width: 50px;
                height: 12.1px;
                padding-left: 30px;
            }
        }
        .burger{
            width: 15px;
            height: 15px;
            padding-right: 30px;
        }
    }
}
@media (max-width: 320px){
    .container{max-width: 320px;}
}